@import "./font.css";

html {
    font-family: RobotoFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

h1 {
    font-family: PrismaFont;
    font-size: 55px;
    margin: 0;
}

/* dark theme */
html {
    --foreground-color: #000;
    --background-color: #FFF;
}
html.dark {
    --foreground-color: #FFF;
    --background-color: #111;
}

.keyboard__key {
    width: 18px;
    border: solid 1px;
    text-align: center;
}

.keyboard__offset--0 { width: 26px; }
.keyboard__offset--1 { width: 34px; }
.keyboard__offset--2 { width: 20px; }
